<hr/>
<footer>
  <span>Theme:</span>
  <ul>
    <li><a href="/themes/default?path={{ .Path | URLEncode }}">Default</a></li>
    <li><a href="/themes/dark?path={{ .Path | URLEncode }}">Dark</a></li>
    <li><a href="/themes/dark-solarized?path={{ .Path | URLEncode }}">Dark Solarized</a></li>
    <li><a href="/themes/earthly?path={{ .Path | URLEncode }}">Earthly</a></li>
    <li><a href="/themes/vader?path={{ .Path | URLEncode }}">Vader</a></li>
  </ul>
</footer>
</body>
</html>
