<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>MinUI</title>
    <link href="/static/normalize.css" rel="stylesheet"/>
    <link href="/static/{{.Theme}}.css" rel="stylesheet"/>
    <link href="/static/style.css" rel="stylesheet"/>
  </head>
  <body>
